// @stylint off
$reset-ul
	margin 0

$reset-ul-li
	padding 0
	margin 0
	background none
	overflow visible
	background-size auto
	background-position 0 0

$reset-ol
	@extend $reset-ul

$reset-ol-li
	@extend $reset-ul-li
	position static
	&:before
		content normal
		position static
		left auto
		top auto

$grid
	font-size 0px
	text-align justify
	text-justify distribute-all-lines
	@media $MQ.webkit
		letter-spacing -1px

$grid__cell
	display inline-block
	vertical-align top
	font-size $fontSize
	text-align left
	box-sizing border-box
	letter-spacing normal
	white-space normal
	text-align auto

$grid--scroll
	position relative
	white-space nowrap
	overflow hidden
	overflow-x auto
	.js &
		overflow-x hidden

// @stylint on
