/* Grid */
grid($selector = 'col--', $separator = '-', $columns = 12, $rule = 'width', $coef = 1, $others = {})
	for $i in 1..$columns
		{$selector + $i + $separator + $columns}
			{$rule} unit(100 / $columns * $i * $coef, '%')
			{$others}


/* Text Alignment and Transformation classes */
text-overflow()
	overflow hidden
	text-overflow ellipsis
	white-space nowrap


/* Inline lists */
inline-list($width, $fontSize)
	font-size 0
	> *
		display inline-block
		vertical-align top
		if $width isnt false
			width $width
		font-size $fontSize

inline-list-scroll-extend()
	position relative
	white-space nowrap
	overflow hidden
	overflow-x auto
	> * > *
		white-space normal
	.js &
		overflow-x hidden

inline-list-scroll($width, $font)
	inline-list($width, $font)
	inline-list-scroll-extend()


/* Center content */
center-block()
	display block
	margin-left auto
	margin-right auto

box-vertical($align = middle)
	&:before
		content ''
		display inline-block
		height 100%
		margin-right -.25em
		vertical-align $align


/* Clearfix */
clearfix()
	&:before
	&:after
		content ''
		display table
	&:after
		clear both

ctx()
	display table-cell
	&:after
		clear both
		display block
		visibility hidden
		overflow hidden
		height 0
		line-height 0
		font-size xx-large
		content ' x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x '


/* Hiding content */
vhide()
	position absolute
	width 1px
	height 1px
	padding 0
	margin -1px
	overflow hidden
	clip rect(0 0 0 0)
	border 0

text-hide()
	font 0/0 a
	color transparent
	text-decoration none


/* Size */
size($width = false, $height = false)
	if unit($width) is ''
		$width = unit($width, 'px')

	if $height
		if unit($height) is ''
			$height = unit($height, 'px')
		width $width
		height $height
	else
		width $width
		height $width


// PX to EM
pxToEm($from, $to)
	unit(($to/$from), em)


// Triangle
// @stylint off
triangle($direction = 'down', $width = 10px, $height = 10px, $color = #000)
	width 0
	height 0
	border-style solid
	directions = {
		up: {
			border-width: 0 ($width * .5) $height ($width * .5),
			border-color: transparent transparent $color transparent
		},
		down: {
			border-width: $height ($width * .5) 0 ($width * .5),
			border-color: $color transparent transparent transparent
		},
		left: {
			border-width: ($height * .5) $width ($height * .5) 0,
			border-color: transparent $color transparent transparent
		},
		right: {
			border-width: ($height * .5) 0 ($height *.5) $width,
			border-color: transparent transparent transparent $color
		},
		up-left: {
			border-width: $height $width 0 0,
			border-color: $color transparent transparent transparent
		},
		down-left: {
			border-width: $width 0 0 $height,
			border-color: transparent transparent transparent $color
		},
		up-right: {
			border-width: 0 $width $height 0,
			border-color: transparent $color transparent transparent
		},
		down-right: {
			border-width: 0 0 $height $width,
			border-color: transparent transparent $color transparent
		}
	}
	styles = directions[$direction]
	{styles}
// @stylint on


tap-highlight-color()
	-webkit-tap-highlight-color arguments

touch-callout()
	-webkit-touch-callout arguments
