// @stylint off
html
	font normal $fontSize/$lineHeight $font
	color $color

/* Titles*/
h1
.h1
h2
.h2
h3
.h3
h4
.h4
h5
.h5
h6
.h6
	font-family $fontSecondary
	font-weight bold
	line-height 1.2
	margin 1.5em 0 .5em

h1
.h1
	font-size 36px
h2
.h2
	font-size 30px
h3
.h3
	font-size 24px
h4
.h4
	font-size 18px
h5
.h5
	font-size 14px
h6
.h6
	font-size 12px

/* Paragraph */
p
	margin 0 0 1.25em
hr
	border 0
	border-top 1px solid $colorBd
	margin 40px 0
	height 1px
	overflow hidden

/* Blockquote */
blockquote
	margin 0 0 1.25em
	padding 0
	p
		margin 0

/* Links */
a
	color $colorLink
	tap-highlight-color rgba($black, 0)
	text-decoration underline
	transition color $t
	.no-touchevents &:hover
		color $colorHover


/* Lists */
ul
ol
dl
menu
	margin 0 0 1.25em
	list-style none
	padding 0
li
	padding 0 0 0 20px
	margin 0 0 .25em
	ol
	ul
		margin .25em 0 0
ul
	li
		background url($img + 'bg/li.png') 2px 8px no-repeat
ol
	counter-reset item
	li
		background none
		position relative
		&:before
			content counter(item)'.'
			counter-increment item
			position absolute
			left 0
			top 0
			font-weight bold
			text-align left
dt
	font-weight bold
	margin 0
dd
	margin 0 0 .75em
	padding 0

/* Tables */
table
	width 100%
	clear both
	margin 0 0 1.25em
	empty-cells show
	border-collapse collapse
	border-spacing 0
	border 1px solid $colorBd

caption
	font-weight bold
	text-align left
	padding 0 0 10px
	caption-side top
td
th
	vertical-align top
	padding 7px 8px
	border 1px solid $colorBd
th
	font-weight bold
	text-align left
thead th
	background $colorBg

/* Images */
img.pull-left
	margin .25em 20px 20px 0
img.pull-right
	margin .25em 0 20px 20px

// @stylint on
