/* Text Alignment and Transformation classes */
.text
	&-left
		text-align left
	&-center
		text-align center
	&-right
		text-align right
	&-justify
		text-align justify
	&-nowrap
		white-space nowrap
	&-lowercase
		text-transform lowercase
	&-uppercase
		text-transform uppercase
	&-capitalize
		text-transform capitalize
	&-overflow
		text-overflow()

/* Font weight and italics */
.font
	&-bold
		font-weight bold
	&-regular
		font-weight normal
	&-italic
		font-style italic

/* Vertical Alignment */
.align
	&-top
		vertical-align top
	&-bottom
		vertical-align bottom
	&-middle
		vertical-align middle

/* Quick floats */
.pull
	&-left
		float left
	&-right
		float right

/* Center content */
.center-block
	center-block()
.box-vertical
	box-vertical()

/* Clearfix */
.clearfix
	clearfix()
.ctx
	ctx()

/* Hiding content */
.hide
.js .js-hide
	display none
.out
.js .js-out
	position absolute
	left -5000px
.vhide
	vhide()
.text-hide
	text-hide()
