.btn
	$s = selector()
	display inline-block
	vertical-align middle
	margin 0
	padding 0
	border 0
	background none
	text-decoration none
	font-family inherit
	&__text
		position relative
		display block
		border 1px solid darken($colorLink, 50%)
		padding 10px 20px 8px
		font-size 16px
		line-height normal
		background $colorLink
		color $white
		text-decoration none
		text-transform uppercase
		transition background .3s
	.no-touchevents &:hover
		{$s}
			&__text
				background darken($colorLink, 50%)
