.inp
	&__text
		display block
		border 1px solid $colorBd
		padding 7px 10px 5px
		background $white
		color $color
		font-family inherit
		font-size 16px
		line-height normal
		width 100%
		border-radius 0
		appearance none
		.has-error &
			background lighten($red, 90%)
			border-color $red
		&::placeholder
			opacity 1
			color rgba($color, .5)
		&:focus
			&::placeholder
				color rgba($black, 0)
		textarea&
			height auto
	&__label
		display inline-block
	&__fix
		position relative
		display block
