{% extends 'layout/layout.njk' %}
{% set pageTitle = 'Vylepšujeme' %}
{% set isHomepage = true %}


{% block content %}

<main role="main" id="main" class="main">
	<div class="row-main">
		<div class="b-error">
			<h2 class="b-error__title">Vylepšujeme</h2>
			<div class="b-error__text">
				<p>Právě aktualizujeme Sberbank Online Banking. Znovu přístupný bude v neděli v&nbsp;odpoledních hodinách.</p>
				<p>Děkujeme za pochopení</p>
				<p>Vaše Sberbank</p>
			</div>
			<h2 class="b-error__title">Improving it</h2>
			<div class="b-error__text">
				<p>We are currently updating Sberbank Online Banking. It will be available again on Sunday afternoon.</p>
				<p>Thank you for your understanding</p>
				<p>Your Sberbank</p>
			</div>
		</div>
	</div>
</main>

{% endblock %}
