{% extends 'layout/layout.njk' %}
{% set pageTitle = 'Opravujeme' %}
{% set isHomepage = true %}


{% block content %}

<main role="main" id="main" class="main">
	<div class="row-main">
		<div class="b-error">
			<h2 class="b-error__title">Opravujeme</h2>
			<div class="b-error__text">
				<p>Omlouváme se, Sberbank Online Banking je momentálně nedostupný, na opravě intenzivně pracujeme. Zkuste se stavit za chvilku.</p>
				<p>Děkujeme za pochopení</p>
				<p>Vaše Sberbank</p>
			</div>
			<h2 class="b-error__title">Repairing it</h2>
			<div class="b-error__text">
				<p>We are sorry, Sberbank Online Banking is currently unavailable and we are working hard to repair it. Try to visit us in a while.</p>
				<p>Thank you for your understanding</p>
				<p>Your Sberbank</p>
			</div>
		</div>
	</div>
</main>

{% endblock %}
