.footer
	&__copy
		padding-top 9px
		padding-right 40px
		margin-bottom 0
		font-size 10px
	&__content
		padding-top 12px
		padding-bottom 30px
		border-top 2px solid $colorBd
		display flex
		justify-content space-between
		align-items center
