.header
	&__logo
		display block
		font 100%/1 $font
		margin 0
		padding 0
		svg
			display block
			width 110px
			height 21px
	&__wrap
		display flex
		justify-content space-between
		align-items center
		padding 20px 0 30px
	&__phone
		margin-bottom 0
		svg
			position absolute
			top -1px
			left 0
	&__link
		display block
		padding-left 29px
		position relative
		font-size 18px
		text-decoration none
		color $green
		&:hover
			color $green
			text-decoration underline
	@media $MQ.tabletMin
		&__wrap
			padding 20px 0 65px
		&__logo
			svg
				width 221px
				height 42px
