body
	display flex
	flex-direction column
	min-height 100vh
.row
	position relative
	margin 0
	padding 0
	clearfix()

.row-main
	@extend .row
	margin 0 auto
	padding 0 20px
	max-width 1380px

// .grid
// 	@extend $reset-ol
// 	@extend $grid
// 	margin-left -($gutter)
// 	&__cell
// 		@extend $reset-ol-li
// 		@extend $grid__cell
// 		width 100%
// 		position relative
// 		border-left $gutter solid transparent
// 		text-justify auto
// 		&.size--auto
// 			width auto
// 	&--scroll
// 		@extend $grid--scroll
// 	&--center
// 		text-align center
// 	&--right
// 		text-align right
// 	&--middle > &__cell
// 		vertical-align middle
// 	&--bottom > &__cell
// 		vertical-align bottom



// // selector, separator, columns, rule, coef, otherRules
// grid('.size--s-', '-', $columns, 'width')
// // grid('.push--s-', '-', $columns, 'left')
// // grid('.pull--s-', '-', $columns, 'left', -1)

// @media $MQ.tabletMin
// 	grid('.size--t-', '-', $columns, 'width')
// 	// grid('.push--t-', '-', $columns, 'left')
// 	// grid('.pull--t-', '-', $columns, 'left', -1)

// @media $MQ.desktopMin
// 	grid('.size--', '-', $columns, 'width')
// 	// grid('.push--', '-', $columns, 'left')
// 	// grid('.pull--', '-', $columns, 'left', -1)
