.hide
	&-mobile
		&-down
			@media $MQ.mobileMax
				display none
		&-up
			@media $MQ.mobileMin
				display none
	&-tablet
		&-down
			@media $MQ.tabletMax
				display none
		&-up
			@media $MQ.tabletMin
				display none
	&-desktop
		&-down
			@media $MQ.desktopMax
				display none
		&-up
			@media $MQ.desktopMin
				display none
	&-wide
		&-down
			@media $MQ.wideMax
				display none
		&-up
			@media $MQ.wideMin
				display none
