.b-error
	padding-bottom 150px
	background-image url($robotImgBase64)
	background-repeat no-repeat
	background-position bottom center
	background-size auto 150px
	&__title
		color $green
		font-size 26px
		font-weight normal
		margin-bottom 20px
	&__text
		font-size 16px
	@media $MQ.tabletMin
		padding-bottom 120px
		padding-right 50%
		background-position right center
		background-size 55% auto
		&__title
			font-size 36px
			margin-bottom 25px
		&__text
			font-size 24px
	@media $MQ.desktopMin
		padding-left 150px
