.b-socials
	font-size 0
	white-space nowrap
	&__item
		margin-left 10px
		display inline-block
		border 1px solid currentColor
		border-radius 50%
		text-align center
		transition all .3s
		color #7f7f7f
		padding 4px
		svg
			width 10px
			fill currentColor
		&--fb
			&:hover
				color #3b5998
		&--tw
			&:hover
				color #1dcaff
		&--in
			&:hover
				color #0077B5
		&--google
			&:hover
				color #d34836
		&--yt
			&:hover
				color #ff0000
