@import 'base/index'
@import 'core/index'
@import 'components/index'
@import 'layout/index'

html
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	-ms-text-size-adjust 100%
	-webkit-text-size-adjust 100%

body
	margin 0
